

@media (max-width: 600px)
    .buscador
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        position: static
        padding: 0px
        margin-left: 50%
        margin-top: 8em

    .header
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        width: 100vw
        display: flex
        margin: 0px
        padding: 0px